.ofset_12{
	margin:  100%
}
.ofset_11{
	margin: 91.6666667%;
}
.ofset_10{
	margin: 83.3333333%;
}
.ofset_9{
	margin: 75%;
}
.ofset_8{
	margin: 66.6666667%;
}
.ofset_7{
	margin: 58.3333333%;
}
.ofset_6{
	margin: 50%;
}
.ofset_5{
	margin: 41.6666667%;
}
.ofset_4{
	margin: 33.3333333%;
}
.ofset_3{
	margin: 25%;
}
.ofset_2{
	margin: 16.6666667%;
}
.ofset_1{
	margin: 8.3333333%;
}

.ofset_12_left{
	margin-left:  100%
}
.ofset_11_left{
	margin-left:  91.6666667%;
}
.ofset_10_left{
	margin-left: 83.3333333%;
}
.ofset_9_left{
	margin-left: 75%;
}
.ofset_8_left{
	margin-left: 66.6666667%;
}
.ofset_7_left{
	margin-left: 58.3333333%;
}
.ofset_6_left{
	margin-left: 50%;
}
.ofset_5_left{
	margin-left: 41.6666667%;
}
.ofset_4_left{
	margin-left: 33.3333333%;
}
.ofset_3_left{
	margin-left: 25%;
}
.ofset_2_left{
	margin-left: 16.6666667%;
}
.ofset_1_left{
	margin-left: 8.3333333%;
}
.ofset_12_right{
	margin-right:  100%
}
.ofset_11_right{
	margin-right:  91.6666667%;
}
.ofset_10_right{
	margin-right: 83.3333333%;
}
.ofset_9_right{
	margin-right: 75%;
}
.ofset_8_right{
	margin-right: 66.6666667%;
}
.ofset_7_right{
	margin-right: 58.3333333%;
}
.ofset_6_right{
	margin-right: 50%;
}
.ofset_5_right{
	margin-right: 41.6666667%;
}
.ofset_4_right{
	margin-right: 33.3333333%;
}
.ofset_3_right{
	margin-right: 25%;
}
.ofset_2_right{
	margin-right: 16.6666667%;
}
.ofset_1_right{
	margin-right: 8.3333333%;
}
@media (min-width: 1026px){
	.col_lg_1{
		width:8.3333333%;
	}
	.col_lg_2{
		width:16.6666667%;
	}
	.col_lg_3{
		width:25%;
	}
	.col_lg_4{
		width:33.3333333%;
	}
	.col_lg_5{
		width:41.6666667%;
	}
	.col_lg_6{
		width:50%;
	}
	.col_lg_7{
		width:58.3333333%;
	}
	.col_lg_8{
		width:66.6666667%;
	}
	.col_lg_9{
		width:75%;
	}
	.col_lg_10{
		width:83.3333333%;
	}
	.col_lg_11{
		width:91.6666667%;
	}
	.col_lg_12{
		width:100%;
	}
}
@media (max-width: 1024px) and (min-width: 768px){
	.col_sm_1{
		width:8.3333333% !important;
	}
	.col_sm_2{
		width:16.6666667% !important;
	}
	.col_sm_3{
		width:25% !important;
	}
	.col_sm_4{
		width:33.3333333% !important; 
	}
	.col_sm_5{
		width:41.6666667% !important;
	}
	.col_sm_6{
		width:50%;
	}
	.col_sm_7{
		width:58.3333333% !important;
	}
	.col_sm_8{
		width:66.6666667% !important;
	}
	.col_sm_9{
		width:75% !important;
	}
	.col_sm_10{
		width:83.3333333% !important;
	}
	.col_sm_11{
		width:91.6666667% !important;
	}
	.col_sm_12{
		width:100% !important;
	}
}